body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 62.5%;
	text-align: center;
}

h1, h2, h3, p, ul, ol {
    margin-bottom: 1em;
	font-weight: 400;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2.6em;

	span.large {
		display: block;
		font-size: 1.8em;
	}

	span.huge {
		display: block;
		font-size: 4.5em;
	}
}

h3 {
    font-size: 2.2em;
	line-height: 2;

	span {
		border-bottom: 1px solid #777;
		padding-bottom: 10px;
	}
}

h4 {
    font-size: 1.8em;
}

p, li, table {
    font-size: 1.6em;
    line-height: 1.5;
}

input, textarea {
    font-size: 1.6em;
    font-family: sans-serif;
}
