@import 'reset';
@import 'typography';
@import 'components/header';
@import 'components/sections';
@import 'components/matches';
@import 'components/standings';
@import 'components/notifications';

html, body {
    overflow-x: hidden;
}

body {
    background-color: #111;
    color: #fff;
}

h1 {
    background-color: tomato;
    margin-bottom: 0;
    padding: 5px;
    color: #111;
    text-transform: uppercase;
}

table {
    width: 100%;
    margin-bottom: 1em;

    tr > :first-child {
        text-align: left;

    }
}

.hidden {
    display: none;
}

.accessible {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
