{{~it :day}}
    <div class="matchDay">
        <h3><span>{{=day.calendar}}</span></h3>
        {{~day.matches :match}}
        <div class="match">
            <p class="extra round">
                {{?match.group}}{{=match.group}}{{??}}{{=match.round}}{{?}}
            </p>
            <p class="teams {{?match.isFuture}}fixture{{??}}result{{?}}">
                <span class="homeTeam">{{=match.home.name}}</span>
                {{?match.isFuture}}
                <span class="time">{{=match.time}}</span>
                {{??}}
                <span class="score">{{=match.home.score}}&nbsp;:&nbsp;{{=match.away.score}}</span>
                {{?}}
                <span class="awayTeam">{{=match.away.name}}</span>
            </p>
            <div class="flex goals">
                <div class="left">
                    {{~match.home.goals :goal}}
                    {{=goal.playerWebName}},
                    {{~}}
                </div>
                <div class="center">

                </div>
                <div class="right">
                    {{~match.away.goals :goal}}
                    {{=goal.playerWebName}}
                    {{~}}
                </div>
            </div>
            <p class="extra location">
                {{=match.location}}
            </p>
        </div>
        {{~}}
    </div>
{{~}}
