<div>
    {{~ it :group}}
    <h3><span>{{=group.title}}</span></h3>
        {{~ group.scorers :scorer}}
        <p>
            <span class="name">{{=scorer.name}}</span>
            <span class="goals" style="width: {{=24*scorer.goals.length}}px">
                {{~ scorer.goals :g}}
                <img src="/img/icon-64.png" alt="" width="24" height="24" />
                {{~}}
            </span>
            <span class="team">{{=scorer.team}}</span>
        </p>
        {{~}}
    {{~}}
</div>
