<div>
    {{~ it :group}}
    <h3><span>{{=group.name}}</span></h3>
    <table class="group">
        <tr>
            <th></th>
            <th>P</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GD</th>
            <th>Pts</th>
        </tr>
        {{~ group.teams :team}}
        <tr>
            <td>{{=team.name}}</td>
            <td width="9%">{{=team.played}}</td>
            <td width="9%">{{=team.won}}</td>
            <td width="9%">{{=team.drawn}}</td>
            <td width="9%">{{=team.lost}}</td>
            <td width="9%">{{=team.gd}}</td>
            <td width="9%">{{=team.points}}</td>
        </tr>
        {{~}}
    </table>
    {{~}}
</div>
