.scorers {
	p {
		display: flex;
		text-align: left;
		padding: 0 10px;

		.name {
			flex: 1;
			font-weight: bold;
			text-align: right;
			padding-right: 5px;
		}
		.team {
			flex: 1;
			padding-left: 5px;
		}
		.goals {
			padding-top: 3px;
			img {
				display: block;
				float: left;
			}
		}
	}
}

@media (min-width: 500px) {
    .scorers {
        margin: 0 auto;
        width: 480px;
    }
}
