#main {
    width: 100%;

    .sectionsContainer {
        transition: all 0.25s ease;
        width: 400%;
        overflow-x: hidden;

        section {
            transition: all 0.25s ease;
            width: 25%;
            float: left;
        }
    }

}
